.itg-header {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
}
.itg-header .itg-logo {
  margin-left: 15px;
  align-self: center;
  width: 250px;
}
.itg-header .link-pages {
  width: 250px;
}
.itg-header .link-pages .itg-search {
  margin-top: 25px;
  width: 250px;
}
.itg-header .link-pages .itg-search input {
  box-shadow: 0 0 5px 0 dodgerBlue;
  width: 230px;
  padding-left: 30px;
  border-radius: 50px;
}
.itg-header .link-pages .itg-search .itg-icon-search {
  position: absolute;
}
.itg-header .link-pages .itg-search span {
  margin: 6px 0 0 10px;
}
.itg-nav {
  height: 35px;
  width: 100%;
  margin-top: 7px;
  border: 2px solid #e8e8e8;
  display: flex;
  justify-content: space-around;
}
.itg-nav div {
  width: 20%;
  border-right: 1px solid #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itg-nav .ttt {
  border-right: 0px;
}
ul li {
  display: inline;
  margin-right: 15px;
}
.main-content1 {
  width: 900px;
  margin: 0 auto;
}
.main-content1 .itg-tital {
  width: 720px;
  margin: 0 auto;
}
.main-content1 h2 {
  font-family: PTSerif;
}
.main-content1 .content1-img {
  width: 900px;
  height: 500px;
}
.itg-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.itg-products .itg-product {
  width: 250px;
  height: 260px;
  border: 1px solid #e8e8e8;
  margin: 25px;
  padding: 15px;
}
.itg-footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
}
.itg-footer .itg-name,
.itg-footer .itg-mysite {
  width: 290;
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.itg-footer .itg-name {
  margin-left: 15px;
}
@media screen and (max-width: 576px) {
  .itg-header {
    display: inline-block;
    height: 110px;
  }
  .itg-menu {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 15px;
  }
  .itg-menu span {
    background: #1d1d1b;
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: all 0.3s linear;
  }
  .link-pages {
    width: 100%;
  }
  .link-pages ul {
    position: absolute;
    right: 0;
  }
  .open span :nth-child(1) {
    transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
    margin: 0;
  }
  .open span :nth-child(2) {
    height: 0;
    margin: 0;
  }
  .open span :nth-child(3) {
    transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
  }
  .itg-nav {
    display: none;
    transition: height 2s;
  }
  .main-content1 {
    width: 90%;
  }
  .main-content1 .itg-tital {
    width: 90%;
    margin: 0 auto;
  }
  .main-content1 .itg-tital h1 {
    font-size: 20px;
  }
  .main-content1 .itg-tital h2 {
    font-size: 20px;
    font-family: PTSerif;
  }
  .main-content1 .content1-img {
    width: 100%;
    height: 170px;
  }
  .itg-nav div {
    height: 100%;
    width: 100%;
  }
  .itg-nav-r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    transition: height 2.9s;
  }
  .itg-footer {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .main-content1 {
    width: 85%;
  }
  .main-content1 .itg-tital {
    width: 90%;
    margin: 0 auto;
  }
  .main-content1 .content1-img {
    width: 100%;
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main-content1 {
    width: 85%;
  }
  .main-content1 .itg-tital {
    width: 90%;
    margin: 0 auto;
  }
  .main-content1 .content1-img {
    width: 100%;
    height: 400px;
  }
}
